:root {
  --highlight-color: #c85a54;
  --background-color: #ffbcaf;
  --background-color2: #ff8a80;
  --background-color3: #fcccc4;
  --black-color: #212121;
  --white-color: #f5f5f5;
  --white-color2: #ffeee8;
  --alert-color: #7f0000;
  --font-color: #212121;
  --font-color2: #616161;
  --font-color3: #929292;
  --background-color-rgb: 255, 188, 175;
  --background-color2-rgb: 255, 138, 128;
  --background-color3-rgb: 175, 188, 255;
  --white-color-rgb: 245, 245, 245;
  --black-color-rgb: 33, 33, 33;
  --highlight-color-filter: invert(40%) sepia(69%) saturate(835%)
    hue-rotate(321deg) brightness(91%) contrast(70%);
  --font-size: 24px;
  --font-size2: 20px;
  --font-size3: 18px;
  --font-size4: 16px;
  --font-size5: 14px;
  --height: 60px;
}

@font-face {
  font-family: "Jal_Onuel";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: row-reverse;
  height: 40px;
  padding-right: 20px;
  line-height: 40px;
  background: rgba(var(--white-color-rgb), 0.4);
}

header a {
  margin-right: 15px;
  text-decoration: none;
  color: var(--font-color);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color);
}

nav div {
  display: block;
}

nav div img {
  display: block;
  margin: 20px;
  width: 50px;
  filter: var(--highlight-color-filter);
}

main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: calc(100% - var(--height));
}

article {
  /* background-color: red; */
  display: flex;
  height: calc(100% - 80px);
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--height);
  line-height: var(--height);
}

a, button {
  outline: none;
}

img {
  pointer-events: none;
}

input {
  outline: none;
}

hr {
  color: white;
  margin: 15px 20px;
}

#root {
  height: 200px;
  font-family: "Jal_Onuel";
  color: var(--font-color);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
  background-image: 
  radial-gradient(rgba(var(--background-color3-rgb), 0.5) 10%, rgba(var(--background-color3-rgb), 0.3) 50%, rgba(var(--black-color-rgb), 0.2)),
  linear-gradient(40deg, rgba(var(--background-color-rgb), 0.6), rgba(var(--background-color2-rgb), 0.5)), 
  url('./image/background.jpg');
  background-size: cover;
  background-position: center;
}

.mainLogo {
  margin-bottom: 20px;
}

.effect {
  display: none;
}

.join, .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding:30px;
  width: 450px;
  outline: 2px solid rgba(var(--white-color-rgb), 0.5);
  outline-offset: -12px;
  border-radius: 7px; 
  background: radial-gradient(rgba(var(--background-color-rgb), 0.3) 20%, rgba(var(--white-color-rgb), 0.1));
  animation-duration: 0.8s;
}

.join {
  animation-name: slideLeft;
}

.join form, .login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
  padding: 10px;
  width: 100%;
}

.join input {
  margin: 10px 0 5px 0;
  border: 3px outset var(--white-color);
  width: 60%;
  height: 30px;
  color: var(--font-color2);
  font-size: var(--font-size4);
  border-radius: 5px;
  text-indent: 7px;
  font-family: "Jal_Onuel";
  /* Chrome */
  outline: none;
}

.join input::placeholder {
  color: var(--font-color);
}

.join span, .login span {
  font-size: var(--font-size5);
  color: var(--alert-color);
}

.join button {
  margin-top: 10px;
  border: 3px outset var(--white-color);
  padding: 2px;
  width: calc(60% + 8px);
  height: 32px;
  border-radius: 5px;
  font-size: var(--font-size4);
  font-family: "Jal_Onuel";
  background-color: rgba(var(--background-color-rgb) 0.6);
}

.join .birth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.join .birth input:first-child {
  width: 24%;
}

.join .birth input:last-child {
  width: 15%;
}

.join .birth select {
  margin: 10px 5px 5px 5px;
  padding: 2px;
  border: 3px outset var(--white-color);
  width: 17%;
  height: 38px;
  font-size: var(--font-size3);
  border-radius: 5px;
  color: var(--font-color3);
  font-size: var(--font-size4);
  font-weight: 100;
  font-family: "Jal_Onuel";
  outline: none;
  appearance: none;
}

.login {
  animation-name: slideRight;
}

.login a {
  margin: 5px;
  width: auto;
  color: var(--font-color2);
  text-decoration: none;
}

.login input {
  margin: 10px 0 5px 0;
  border: 3px outset var(--white-color);
  width: 50%;
  height: 30px;
  font-size: var(--font-size4);
  border-radius: 5px;
  text-indent: 7px;
  font-family: "Jal_Onuel";
  /* Chrome */
  outline: none;
}

.login button {
  margin-top: 10px;
  border: 3px outset var(--white-color);
  padding: 2px;
  width: calc(50% + 8px);
  height: 32px;
  border-radius: 5px;
  font-size: var(--font-size4);
  font-family: "Jal_Onuel";
  background-color: rgba(var(--background-color-rgb) 0.6);
}

.login button:hover {
  cursor: pointer;
}

.overlay-open {
  position: fixed;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.overlay-close {
  display: none;
}

.overlay-open:hover {
  cursor: no-drop;
}

.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid var(--black-color);
  width: 60vw;
  height: 60vh;
  top: calc(50% - 30vh);
  left: calc(50% - 30vw);
  background-color: var(--white-color);
  opacity: 1;
  cursor: default;
}

.popupTitle, .addTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: var(--height);
  align-items: center;
  font-size: var(--font-size2);
  text-indent: 15px;
  background-color: var(--highlight-color);
}

.popupTitle img, .addTitle img {
  margin: 5px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.popupContent {
  display: flex;
  width: 100%;
  text-align: start;
}

.popupContent table {
  width: 100%;
}

.popupContent tr {
  height: var(--height);
}

.popupContent td {
  padding: 15px;
}

.popupContent select {
  width: 95%;
  height: 35px;
  /* chrome: select, option / firefox: select */
  font-family: "Jal_Onuel";
  font-size: var(--font-size4);
  text-indent: 5px;
  /* firefox */
  /* text-align: center; */
  /* chrome */
  /* text-align-last: center; */
  
}

.popupContentName {
  width: 25%;
  text-align: center;
  font-size: var(--font-size3);
}

.popupContentValue {
  width: 75%;
}

.popupFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--background-color3);
}

.popupFooterIcon{
  padding: 10px 20px;
}

.popupFooterInfo {
  width: 100%;
  padding: 10px;
  font-size: var(--font-size5);
  color: var(--font-color3);
}

.popupFooterInfo a {
  color: var(--font-color2);
}

.add {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--black-color);
  width: 60vw;
  height: 60vh;
  top: calc(50% - 30vh);
  left: calc(50% - 30vw);
  background-color: var(--background-color3);
  opacity: 1;
  cursor: default;
}

.addTitle {
  background: var(--background-color2);
}

.addContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.addContent form {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 5px 0;
  width: calc(100% - 30px);
  border-radius: 0.5rem;
  background-color: var(--white-color2);
}

.addContent form > input {
  margin-left: 20px;
  border: 0;
  width: 100%;
  background: inherit;
  font-size: var(--font-size3);
  font-family: "Jal_Onuel";
}

.addContent form > button {
  background: inherit;
  border: none; 
  margin-right: 5px;
  cursor: pointer;
}

.addContent img {
  width: 30px;
}

.addList {
  margin: 15px 0;
  width: calc(100% - 30px);
  /* height: calc(100% - 120px); */
  height: 100%;
  background-color: var(--white-color2);
  overflow-y: auto;
}

.sideBar {
  width: 100%;
  background-color: var(--white-color);
}

.sideBarTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: var(--height);
  margin-top: 20px;
  font-size: var(--font-size);
}

.sideBarTitle a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.sideBarTitle a img {
  width: 40px;
  height: 40px;

}

.listSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  padding: 10px 10px;
  background-color: var(--background-color2);
  border-radius: 1rem;
}

.listSearch img {
  width: 30px;
  height: 30px;
  filter: var(--highlight-color-filter);
}

.listSearch input {
  margin: 5px 10px;
  border: 0;
  width: 100%;
  font-size: var(--font-size2);
  background: none;
  outline: none;
}

.friendProfile {
  overflow: auto;
  height: calc(100% - 155px);
  scroll-margin: 110px;
}

.list {
  display: flex;
  padding: 15px 20px;
}

.list img {
  width: 70px;
  border-radius: 1.5rem;
}

.listInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 0 10px;
}

.listName {
  padding: 5px 0;
  font-size: var(--font-size2);
}

.listState {
  font-size: var(--font-size3);
  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-align: start; */
}

.listAddButton {
  width: 60px;
  border-radius: 1rem;
  font-family: "Jal_Onuel";
}

.footer {
  background-color: var(--highlight-color);
}

.footer-main {
  background: rgba(var(--background-color-rgb), 0.2);
  color: var(--font-color2);
}

@media (max-width: 840px), (max-height: 600px) {
  :root{
    --font-size: 20px;
    --font-size2: 16px;
    --font-size3: 14px;
    --font-size4: 12px;
    --font-size5: 10px;
    --height: 40px;
  }
  
  .popup, .add{
    width: 80vw;
    height: 80vh;
    top: calc(50% - 40vh);
    left: calc(50% - 40vw);
  }

  nav div img {
    margin: 10px;
    width: 30px;
  }

  footer {
    font-size: var(--font-size4);
  }
  
  .sideBarTitle {
    margin-top: 10px;
  }

  .sideBarTitle a img {
    width: 30px;
    height: 30px;
  }

  .listSearch {
    padding: 5px 10px;
  }

  .friendProfile {
    height: calc(100% - 110px);
  }

  .list {
    display: flex;
    padding: 5px 20px;
  }

  .list img {
    width: 50px;
    border-radius: 1rem;
  }
}


@keyframes slideLeft {
  from {
    margin-left: -10%;
    opacity: 0;
  }
  
  to {
    margin-left: calc(50% - 255px);
  }
}

@keyframes slideRight {
  from {
    margin-left: 110%;
    opacity: 0;
  }

  to {
    margin-left: calc(50% - 255px);
  }
}