:root {
  --highlight-color: #c85a54;
  --background-color: #ffbcaf;
  --background-color2: #ff8a80;
  --background-color3: #fcccc4;
  --black-color: #212121;
  --gray-color: #eaeaea;
  --gray-color2: #d2d2d2;
  --white-color: #f5f5f5;
  --white-color2: #ffeee8;
  --white-color3: #c0b1ac;
  --alert-color: #7f0000;
  --alert-color2: #bc0000;
  --alert-color3:#1564bf;
  --font-color: #212121;
  --font-color2: #616161;
  --font-color3: #929292;
  --background-color-rgb: 255, 188, 175;
  --background-color2-rgb: 255, 138, 128;
  --background-color3-rgb: 175, 188, 255;
  --white-color-rgb: 245, 245, 245;
  --black-color-rgb: 33, 33, 33;
  --highlight-color-filter: invert(38%) sepia(68%) saturate(545%) hue-rotate(314deg)
    brightness(100%) contrast(83%);
  --alert-color-filter: invert(12%) sepia(92%) saturate(2487%) hue-rotate(349deg)
    brightness(95%) contrast(122%);
  --alert-color-filter2: invert(14%) sepia(78%) saturate(4211%) hue-rotate(355deg)
    brightness(73%) contrast(117%);
  --font-size: 24px;
  --font-size2: 20px;
  --font-size3: 18px;
  --font-size4: 16px;
  --font-size5: 14px;
  --height: 60px;
}

@font-face {
  font-family: "Jal_Onuel";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: row-reverse;
  height: 40px;
  padding-right: 20px;
  line-height: 40px;
  background: rgba(var(--white-color-rgb), 0.4);
}

header a {
  margin-right: 15px;
  text-decoration: none;
  color: var(--font-color);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color);
}

nav div {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

nav div button {
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
}

nav div img {
  display: block;
  width: 50px;
  filter: var(--highlight-color-filter);
}

nav div a:hover,
nav div button:hover {
  filter: var(--alert-color-filter2);
}

nav div a {
  margin: 0 10px;
}

nav div a img {
  margin: 10px;
  width: 50px;
}

main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: calc(100% - var(--height));
}

article {
  display: flex;
  height: calc(100% - 80px);
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--height);
  line-height: var(--height);
}

a,
button {
  outline: none;
  background: none;
  border: none;
}

img {
  pointer-events: none;
}

input {
  outline: none;
}

hr {
  color: white;
  margin: 15px 20px;
}

#root {
  height: 200px;
  font-family: "Jal_Onuel";
  color: var(--font-color);
  user-select: none;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
      rgba(var(--background-color3-rgb), 0.5) 10%,
      rgba(var(--background-color3-rgb), 0.3) 50%,
      rgba(var(--black-color-rgb), 0.2)
    ),
    linear-gradient(
      40deg,
      rgba(var(--background-color-rgb), 0.6),
      rgba(var(--background-color2-rgb), 0.5)
    ),
    url("./image/background.jpg");
  background-size: cover;
  background-position: center;
}

.mainLogo {
  margin-bottom: 20px;
}

.effect {
  display: none;
}

.join,
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 30px;
  width: 450px;
  outline: 2px solid rgba(var(--white-color-rgb), 0.5);
  outline-offset: -12px;
  border-radius: 7px;
  background: radial-gradient(
    rgba(var(--background-color-rgb), 0.3) 20%,
    rgba(var(--white-color-rgb), 0.1)
  );
  animation-duration: 0.8s;
}

.join {
  animation-name: slideLeft;
}

.join form,
.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
  padding: 10px;
  width: 100%;
}

.join input {
  margin: 10px 0 5px 0;
  border: 3px outset var(--white-color);
  width: 60%;
  height: 30px;
  color: var(--font-color2);
  font-size: var(--font-size4);
  border-radius: 5px;
  text-indent: 7px;
  font-family: "Jal_Onuel";
  /* Chrome */
  outline: none;
}

.join input::placeholder {
  color: var(--font-color);
}

.join span,
.login span {
  font-size: var(--font-size5);
  color: var(--alert-color);
}

.join button {
  margin-top: 10px;
  border: 3px outset var(--white-color);
  padding: 2px;
  width: calc(60% + 8px);
  height: 32px;
  border-radius: 5px;
  font-size: var(--font-size4);
  font-family: "Jal_Onuel";
  background-color: rgba(var(--background-color-rgb) 0.6);
}

.join .birth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.join .birth input:first-child {
  width: 24%;
}

.join .birth input:last-child {
  width: 15%;
}

.join .birth select {
  margin: 10px 5px 5px 5px;
  padding: 2px;
  border: 3px outset var(--white-color);
  width: 17%;
  height: 38px;
  font-size: var(--font-size3);
  border-radius: 5px;
  color: var(--font-color3);
  font-size: var(--font-size4);
  font-weight: 100;
  font-family: "Jal_Onuel";
  outline: none;
  appearance: none;
}

.login {
  animation-name: slideRight;
}

.login a {
  margin: 5px;
  width: auto;
  color: var(--font-color2);
  text-decoration: none;
}

.login input {
  margin: 10px 0 5px 0;
  border: 3px outset var(--white-color);
  width: 50%;
  height: 30px;
  font-size: var(--font-size4);
  border-radius: 5px;
  text-indent: 7px;
  font-family: "Jal_Onuel";
  /* Chrome */
  outline: none;
}

.login button {
  margin-top: 10px;
  border: 3px outset var(--white-color);
  padding: 2px;
  width: calc(50% + 8px);
  height: 32px;
  border-radius: 5px;
  font-size: var(--font-size4);
  font-family: "Jal_Onuel";
  background-color: rgba(var(--background-color-rgb) 0.6);
}

.login button:hover {
  cursor: pointer;
}

.overlay-open {
  position: fixed;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.overlay-close {
  display: none;
}

.overlay-open:hover {
  cursor: no-drop;
}

.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid var(--black-color);
  width: 60vw;
  height: 60vh;
  top: calc(50% - 30vh);
  left: calc(50% - 30vw);
  background-color: var(--white-color);
  opacity: 1;
  cursor: default;
}

.popupTitle,
.addTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: var(--height);
  align-items: center;
  font-size: var(--font-size2);
  text-indent: 15px;
  background-color: var(--highlight-color);
}

.popupTitle img,
.addTitle img {
  margin: 5px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.popupContent {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-y: auto;
  text-align: start;
}

.popupContent table {
  width: 80%;
}

.popupContent tr {
  height: var(--height);
}

.popupContent td {
  padding: 15px;
}

.popupContent select {
  width: 95%;
  height: 35px;
  /* chrome: select, option / firefox: select */
  font-family: "Jal_Onuel";
  font-size: var(--font-size4);
  text-indent: 5px;
  /* firefox */
  /* text-align: center; */
  /* chrome */
  /* text-align-last: center; */
}

.popupContentName {
  width: 30%;
  text-align: center;
  font-size: var(--font-size3);
}

.popupContentValue {
  width: 70%;
}

.popupFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--background-color3);
}

.popupFooterIcon {
  padding: 10px 20px;
}

.popupFooterInfo {
  width: 100%;
  padding: 10px;
  font-size: var(--font-size5);
  color: var(--font-color3);
}

.popupFooterInfo a {
  color: var(--font-color2);
}

.add {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--black-color);
  width: 60vw;
  height: 60vh;
  top: calc(50% - 30vh);
  left: calc(50% - 30vw);
  background-color: var(--background-color3);
  opacity: 1;
  cursor: default;
}

.addTitle {
  background: var(--background-color2);
}

.addMainTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.addMainTitle form {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 5px 0;
  width: calc(100% - 30px);
  border-radius: 0.5rem;
  background-color: var(--white-color2);
}

.addMainTitle form > input {
  margin-left: 20px;
  border: 0;
  width: 100%;
  background: inherit;
  font-size: var(--font-size3);
  font-family: "Jal_Onuel";
}

.addMainTitle form > button {
  border: none;
  margin-right: 5px;
  cursor: pointer;
}

.addMainTitle img {
  width: 30px;
}

.addMainContent {
  margin: 15px 0;
  width: calc(100% - 30px);
  /* height: calc(100% - 120px); */
  height: 100%;
  background-color: var(--white-color2);
  overflow-y: auto;
}

.addMainContent textarea {
  padding: 8px;
  border: 0;
  outline: none;
  width: calc(100% - 16px);
  height: calc(100% - 18px);
  font-family: "Jal_Onuel";
  background: none;
  resize: none;
}

.sideBar {
  width: 100%;
  background-color: var(--white-color);
}

.sideBarTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: var(--height);
  margin-top: 20px;
  font-size: var(--font-size);
}

.sideBarTitle button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.sideBarTitle button img {
  width: 40px;
  height: 40px;
}

.sideBarContent {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 15px 20px;
  overflow: auto;
  height: calc(100% - 137px);
}

.listSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  padding: 10px 10px;
  background-color: var(--background-color2);
  border-radius: 1rem;
}

.listSearch img {
  width: 30px;
  height: 30px;
  filter: var(--highlight-color-filter);
}

.listSearch input {
  margin: 5px 10px;
  border: 0;
  width: 100%;
  font-size: var(--font-size2);
  background: none;
  outline: none;
  font-family: "Jal_Onuel";
}

.listSearch button {
  height: 30px;
  padding: 0;
}

.friendProfile {
  overflow: auto;
  height: calc(100% - 155px);
  /* scroll-margin: 110px; */
}

.noteList {
  display: flex;
  flex-wrap: wrap;
  /* flex: 1 1; */
  padding: 10px;
  width: calc(100vw - 110px);
  height: calc(100% - 176px);
  align-content: flex-start;
  overflow: auto;
  /* background: red; */
}

/* .noteList::after {
  content: "";
  display: table;
  clear: both;
} */

.calendar {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  border: 5px double var(--highlight-color);
  width: calc(25% - 30px);
  background: var(--background-color3);
}

.calendarTitle {
  margin: 5px 0 5px;
  border: 5px double var(--highlight-color);
  height: 35px;
  line-height: 35px;
  color: var(--highlight-color);
  background: var(--white-color2);
}

.calendarContent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-content: space-around;
  height: 100%;
}

.calendarContent div {
  display: inline;
  padding: 3px 0 3px;
}

.calendarContent div:nth-of-type(7n),
.calendarContent div:nth-of-type(7n + 1) {
  color: var(--highlight-color);
}

.calendar #today {
  color: var(--alert-color3);
}

.calendar #today:hover {
  color:var(--alert-color2);
}

.note {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  border: 5px double var(--highlight-color);
  width: calc(25% - 30px);
  height: max-content;
  background: var(--background-color3);
}

.note:hover {
  border: 5px double var(--alert-color2);
  background: var(--background-color);
}

.note:hover .noteTitle {
  border: 5px double var(--alert-color2);
  color: var(--font-color);
  background: var(--background-color3);
}

.note:hover .noteContent {
  color: var(--font-color);
}

.note:hover .noteDate {
  color: var(--font-color);
}

.noteTitle {
  margin: 5px 0 5px;
  border: 5px double var(--highlight-color);
  height: 35px;
  line-height: 35px;
  color: var(--highlight-color);
  background: var(--white-color2);
  overflow: hidden;
  text-overflow: ellipsis;
  text-indent: 3px;
}

.noteContent {
  display: -webkit-box;
  margin: 5px 0 5px;
  padding: 5px;
  width: auto;
  height: 3rem;
  color: var(--highlight-color);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
}

.noteDate {
  align-self: flex-end;
  margin: 5px 0 5px;
  font-size: var(--font-size5);
  color: var(--font-color2);
}

.subTitle {
  margin: 20px 15px 10px;
  padding: 10px;
  border: 6px double var(--background-color3);
  text-align: left;
  text-indent: 5px;
  font-size: var(--font-size2);
}

.list {
  display: flex;
  padding: 15px 20px;
}

.list:hover {
  background-color: var(--gray-color);
}

.list img {
  width: 70px;
  border-radius: 1.5rem;
}

.listInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 0 10px;
}

.listName {
  padding: 5px 0;
  font-size: var(--font-size2);
}

.listState {
  font-size: var(--font-size3);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-align: start;
}

.listButton {
  border: var(--background-color3) 2px solid;
  width: 60px;
  background: radial-gradient(var(--white-color2) 30%, var(--background-color3));
  border-radius: 1rem;
  font-family: "Jal_Onuel";
}

.listResButton {
  margin-left: 12px;
  width: 15%;
  border: 2px solid var(--white-color3);
  border-radius: 1rem;
  font-size: var(--font-size4);
  font-family: "Jal_Onuel";
  cursor: pointer;
}

.listResButton:nth-of-type(1) {
  background: var(--background-color3);
}

.listResButton:nth-of-type(2) {
  background: var(--gray-color2);
  color: var(--alert-color);
}

.footer {
  background-color: var(--highlight-color);
}

.footer-main {
  background: rgba(var(--background-color-rgb), 0.2);
  color: var(--font-color2);
}

@media (max-width: 840px), (max-height: 600px) {
  :root {
    --font-size: 20px;
    --font-size2: 16px;
    --font-size3: 14px;
    --font-size4: 12px;
    --font-size5: 10px;
    --height: 40px;
  }

  .popup,
  .add {
    width: 80vw;
    height: 80vh;
    top: calc(50% - 40vh);
    left: calc(50% - 40vw);
  }

  nav div a img {
    width: 35px;
  }

  nav div button img {
    width: 35px;
  }

  footer {
    font-size: var(--font-size4);
  }

  .sideBarTitle {
    margin-top: 10px;
  }

  .sideBarTitle button img {
    width: 30px;
    height: 30px;
  }

  .sideBarContent {
    width: calc(100% - 30px);
    height: calc(100% - 107px);
  }

  .listSearch {
    padding: 5px 10px;
  }

  .friendProfile {
    height: calc(100% - 110px);
  }

  .noteList {
    width: calc(100vw - 95px);
    height: calc(100% - 131px);
  }

  .calendar {
    width: calc(100% - 20px);
  }

  .note {
    width: calc(100% - 30px);
  }

  .list {
    display: flex;
    padding: 5px 20px;
  }

  .list img {
    width: 50px;
    border-radius: 1rem;
  }
}

@keyframes slideLeft {
  from {
    margin-left: -10%;
    opacity: 0;
  }

  to {
    margin-left: calc(50% - 255px);
  }
}

@keyframes slideRight {
  from {
    margin-left: 110%;
    opacity: 0;
  }

  to {
    margin-left: calc(50% - 255px);
  }
}
