:root {
  --highlight-color: #c85a54;
  --background-color: #ffbcaf;
  --background-color2: #ff8a80;
  --background-color3: #f5f5f5;
  --black-color: #212121;
  --white-color: #f5f5f5;
  --font-color: #212121;
  --font-color2: #616161;
  --highlight-color-filter: invert(40%) sepia(69%) saturate(835%)
    hue-rotate(321deg) brightness(91%) contrast(70%);
  --fontsize: 24px;
  --fontsize2: 18px;
  --fontsize3: 14px;
}

@font-face {
  font-family: "Jal_Onuel";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: calc(100% - 60px);
}

img {
  pointer-events: none;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color);
}

nav div {
  display: block;
}

nav div img {
  display: block;
  margin: 20px;
  width: 50px;
  filter: var(--highlight-color-filter);
}

hr {
  color: white;
  margin: 15px 20px;
}

footer {
  height: 60px;
  line-height: 60px;
  background-color: var(--highlight-color);
}

#root {
  font-family: "Jal_Onuel";
  color: var(--font-color);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.popup {
  position: fixed;
  display: block;
  width: 70vw;
  height: 70vh;
  top: calc(50% - 35vh);
  left: calc(50% - 35vw);
  background-color: white;
  opacity: 1;
}

.popupTitle {
  height: 40px;
  line-height: 40px;
  font-size: var(--fontsize2);
  background-color: var(--highlight-color);
}

.popupContent {
  padding: 5px;
  text-align: start;
}

.sideBar {
  width: 100%;
  background-color: var(--background-color3);
}

.sideBarTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  margin-top: 20px;
  font-size: var(--fontsize);
}

.sideBarTitle img {
  width: 40px;
}

.listSearch {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  padding: 10px;
  background-color: var(--background-color2);
  border-radius: 1rem;
}

.listSearch img {
  width: 30px;
  filter: var(--highlight-color-filter);
}

.listSearch input {
  border: 0;
  width: 100%;
  padding: 5px 10px;
  font-size: var(--fontsize2);
  background: none;
}

.friendProfile {
  overflow: auto;
  height: calc(100% - 151px);
  scroll-margin: 110px;
}

.list {
  display: flex;
  padding: 15px 20px;
}

.list img {
  width: 70px;
  border-radius: 1.5rem;
}

.listInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 0 10px;
}

.listName {
  padding: 5px 0;
  font-size: var(--fontsize2);
}

.listState {
  font-size: var(--fontsize3);
  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-align: start; */
}
